<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <link rel="stylesheet" href="/assets/styles.css" type="text/css">

    <meta charset="utf-8">

    <title></title>

  </head>

  <body>

    <% include partials/nav.ejs %>

    <h1>Contact The NINJAS</h1>

    <p>this is amazing</p>

  </body>
</html>
