<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <link href="/assets/styles.css" rel="stylesheet" type="text/css" >

    <meta charset="utf-8">

    <title></title>

  </head>

  <body>

    <% include partials/nav.ejs %>

    <h1>Contact The NINJAS</h1>

    <p>this is amazing</p>

    <p>thanks for contacting us <%= data.who %></p>


  </body>
</html>
